@import 'jeet'
@import 'rupture'
@import 'normalize'
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html
	color: #222
	font-size: 1em
	line-height: 1.4

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection
	background: #b3d4fc
	text-shadow: none

::selection
	background: #b3d4fc
	text-shadow: none

/*
 * A better looking default horizontal rule
 */
hr
	display: block
	height: 1px
	border: 0
	border-top: 1px solid #ccc
	margin: 1em 0
	padding: 0

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video
	vertical-align: middle

/*
 * Remove default fieldset styles.
 */
fieldset
	border: 0
	margin: 0
	padding: 0

/*
 * Allow only vertical resizing of textareas.
 */
textarea
	resize: vertical

/* ==========================================================================
 Author's custom styles
 ========================================================================== */

// edit()



* + *
	margin-top 1.5em

html
	// background-color #89D0D4
	font-family 'Muli', sans-serif
	font-size 1.15em
	color #312222
	background  		    radial-gradient(circle at 100% 10% , rgba(#2d3637, 0.8), rgba(#2d3637, 0)),
							radial-gradient(circle at 100% 20% , rgba(#87d7db, 0.5), rgba(#87d7db, 0)),
							radial-gradient(circle at 50% 50% , #89D0D4, rgba(#89D0D4, 0)),
							#87d7db
	mix-blend-mode:			normal

// radial-gradient(circle at 50% 0% , rgba(#111C1F, 0.8), rgba(#111C1F, 0)) repeat scroll 0% 0%,

body
	min-height 100vh

header
	center(960px)
	margin-bottom 3em
	position relative

	&::before
		background		url(../images/main.jpg) no-repeat
		mix-blend-mode	multiply
		content ''
		width 363px
		height 404px
		position absolute
		left -11em
		top -2em
		opacity 0.55

	.logo
		background-color  transparent
		border 0
		overflow  hidden
		/* IE 6/7 fallback */
		// *text-indent  -9999px
		width 448px
		height 120px
		background-image url(../images/logo.png)
		background-repeat no-repeat
		background-size contain
		position: relative;
		left 5em
		top 2em
		margin 0
		&::before
			content ''
			display block
			height 100%
			width 0

	.motto
		background-color rgba(255,255,255,0.25)
		position relative
		display inline-block
		padding 0 0.25em
		font-size 1em
		top 2em
		left 2em
		&::before
			content '['
			left -0.15em
		&::after
			content ']'
			right -0.15em
		&::before,&::after
			top -0.35em
			font-size 1.8em
			position absolute

main
	center(960px)
	text-shadow 0 2px 3px #70A3A7

	section
		for row in 1 2
			&:nth-child({row})
				if row % 2
					column(1/2, offset:-1/2)
				else
					column(1/2, offset:1/2)

	section:nth-child(3)
		span(1)
		ol
			padding 0
			list-style none
		li
			cf()
			&::before
				text-align center
				column(1/10)
				font-size 2em
			&:nth-child(1)::before
				content '①'
			&:nth-child(2)::before
				content '②'
			&:nth-child(3)::before
				content '③'
			p
				column(5/10)
		img
			max-width 100%
			column(4/10)

footer
	background-color #312222
	text-align center

	> div
		center(960px)
		padding 2em
		color #89D0D4

	input
		background-color #e8e3e3
	.socials
		list-style none
		li
			column(1/3)
			margin-top 0
	.twitter iframe
		width auto
		.timeline
			border-radius 0

#mc_embed_signup
	cf()

#mce-EMAIL
	column(4/5)

#mc_embed_signup
	.clear
		column(1/5)
		margin-top 0
	input.button
		width 100%
		padding 0.3em

/* ==========================================================================
 Helper classes
 ========================================================================== */
/*
* Hide visually and from screen readers:
* http://juicystudio.com/article/screen-readers-display-none.php
*/
.hidden
	display: none !important
	visibility: hidden

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/
.visuallyhidden
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
	clip: auto
	height: auto
	margin: 0
	overflow: visible
	position: static
	width: auto

/*
* Hide visually and from screen readers, but maintain layout
*/
.invisible
	visibility: hidden

/* ==========================================================================
 EXAMPLE Media Queries for Responsive Design.
 These examples override the primary ('mobile first') styles.
 Modify as content requires.
 ========================================================================== */

// @media only screen and (min-width: 35em)
/* Style adjustments for viewports that meet the condition */

// @media print,
//     (-o-min-device-pixel-ratio: 5/4),
//     (-webkit-min-device-pixel-ratio: 1.25),
//     (min-resolution: 120dpi)
/* Style adjustments for high resolution devices */
